.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

.jumbotron img {
  margin-top: 6rem;
}

.jumbotron p {
  margin-bottom: 7rem;
}

section {
  padding-top: 7rem;
}

#projects {
  background-color: #e2edff;
}
